
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
font-family: 'poppins', sans-serif;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg,#0a0a0a,#3a4452);

}
.calculator{
    border: 1px solid #717377;
    padding: 20px;
    border-radius: 16px;
    background: transparent;
    box-shadow: 0px 3px 15px rgbs(113, 115, 119, 0.5);

}
input{
    width: 320px;
    border: none;
    padding: 24px;
    border-radius: 16px;
    margin:10px ;
    background: transparent;
    box-shadow: 0px 3px 15px  rgbs(84, 84, 84, 0.1);
    font-size: 40px;
    text-align: right;
    cursor: pointer;
    color: #ffffff;
    
}

input::placeholder{
    color:#ffffff;

}

button{
    border: none;
    width:60px;
    height: 60px;
    margin: 10px;
    border-radius: 50%;
    background: transparent;
    color: #ffffff;
    font-size: 20px;
    box-shadow:-8px -8px 15px rgba(255, 255, 255, 0.1); 
    cursor: pointer;
}

.calculator{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px ;
}
div > div {
    display: flex;
    justify-content: center;
}

button{
    transition: all 0.2s ease;
}
button:hover{
    background: rgba(255, 255, 255, 0.1);
    transform: scale(1.05);

}
.equalBtn{
    background-color: #f7b731;
    color: #000;
    font-weight: bold;
}
.operator{
    color: #6dee0a;
    font-weight: 600;
}
button:active{
    transform: scale(0.95);
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
}